div#Tlogo{
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;

}

h1{
  display: inline-block;

}

div#lines{
  display: block;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 11px;
}

div#line{
  font-size: 15px;
}

div#aa{
  margin: 150px;
}

#new-user {
  display: none;
}

#login {
  display: none;
}

